<br>
Item: <%= item['name'] %> <%= check_box item['name'], 'ok', class:'itembox' %> <br>

<%= item['description'] %>
<br>
<p> min quantity:<%= item["min_qty"] %> <br>
max quantity:<%= item["max_qty"] %> </p>
Price:<%= item["price"] %>

