		<div id="blake">

	<% @menu.catagories.each_with_index do |catagory,x| %>
		<div class='main-cat' data-children=".cat-<%=x%>" id='cat-<%=x%>'> <%= render partial: 'catagory', locals: {title: catagory} %> </div>

		<% @menu.items[x].each_with_index do |item,y| %>	

			<div class='cat-<%=x%> items' data-children=".items-<%=y%>" id='cat-<%=x%> items-<%=y%>'> <%= render partial: 'item', locals: {item: item} %> </div><!-- had class of hidden -->


			<% @menu.groups[x][y].each_with_index do |group,z| %>

				<div class='cat-<%=x%> items-<%=y%> groups' data-children=".groups-<%=z%>"  id='cat <%=x%> item-<%=y%> group-<%=z%>'> <%= render partial: 'group', locals: {group: group} %> </div> 
				<!-- items-<%=y%> -->


				<% if group.class != String%>

					<% @menu.options[x][y][z].each_with_index do |option,d| %>
						<%if option.class == Hash%>
							<div id='cat-<%=x%> item-<%=y%> group-<%=z%> option-<%=d%>' class="options"> <%= render partial: 'option', locals: {option: option} %> </div>
						<%else%>
							<div id='cat-<%=x%> item-<%=y%> group-<%=z%> option-<%=d%>' class="options"> <%= option[0] %></div>
						<%end%>

					<% end %>
				<%end%>
			<%end%>
		<%end%>
	<% end %>
	</div>









