		<div id="top">

	<% @menu.catagories.each_with_index do |catagory,x| %>
		<div class='main-cat c-<%=x%>' data-children=".cat-<%=x%>"> <%= render partial: 'catagory', locals: {title: catagory} %> </div>


		<% @menu.items[x].each_with_index do |item,y| %>	

			<div class='items c-<%=x%> i-<%=y%>' data-children=".items-<%=y%>" id='cat-<%=x%> items-<%=y%>'> <%= render partial: 'item', locals: {item: item} %> </div>


			<% @menu.groups[x][y].each_with_index do |group,z| %>

				<div class='groups i-<%=y%>' data-children='.groups-<%=z%>'> <%= render partial: 'group', locals: {group: group} %> </div> 


				<% if group.class != String%>

					<% @menu.options[x][y][z].each_with_index do |option,d| %>
						<div class="allOptions"> <%= render partial: 'option', locals: {option: option} %> </div>
					<% end %>
				<%end%>
			<%end%>
		<%end%> 


	<% end %>
	</div>