<h1>Thank You for Ordering!<h1>
<h2>Your order will be processed and will be delivered later</h2>
<h4>Ordered on: <%= Time.now.strftime('%a, %d %b %Y %H:%M:%S %p')%></h4>
<h3></h3>
<h4>Your order:</h4>

<h4><img src="<%= @order.restaurant.logo %>" alt="logo" height="42" width="42"><br><%= @order.name %></h4>

<br>
 
<% total = [] %>
<% cart = {} %>

<% @order.catagories.each do |cat| %>
	<strong><%= cat.title %></strong> <br>
	<% cart[cat.title] = [] %>
<%end%>

<br>

<% @order.items.each do |item| %>
	<%= item.name %> $<%= item.price%> <br>
	<% total << item.price.to_i %>
<%end%>

<br>

<% @order.groups.each do |groups| %>
	<%= groups.name %><br>
<%end%>

<br>

<% @order.options.each do |options| %>
	<%= options.name %>
	<% if options.price == "0" %>
		$0 <br>
	<% else %>
		$<%= options.price%><br>
		<%total << options.price.to_i %>
	<%end%>
<%end%>

<br>
Your Total: $<%= total.inject(:+) %>
<br><br>

<%= form_tag("/menus/comment") do %>

<%= text_field_tag("title")%>
<%= text_field_tag("comment")%>
<%=hidden_field_tag :merch_id,"#{@order.restaurant.merchant_id}"%>

<%= submit_tag "comment" %>

<% end%>


<br>