<center>
<h1>Thank You for Ordering!<h1>
<h2>Your order will be processed and will be delivered...eventually.</h2>
<h4>Ordered on: <%= Time.now.strftime('%a, %b %d, %Y %I:%M %p')%></h4>
<h3></h3>
<h4>Your order:</h4>
</center>

<img src="<%= @order.restaurant.logo %>" alt="logo" style="
    position: absolute;
    left: 47%;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
"><br>

<div class="total" style="
    position: absolute;
    top: 50%;
    left: 15%;
">
<h4><%= @order.name %></h4>

<% total = [] %>
<% cart = {} %>
<strong>
<% @order.items.each do |item| %>
	<%= item.name %> $<%= item.price%> <br>
	<% total << item.price.to_f %>
<%end%>
</strong>

<i>
<% @order.groups.each do |groups| %>
	<%= groups.name %><br>
<%end%>


<% @order.options.each do |options| %>
	<%= options.name %>
	<% if options.price == "0" %>
		$0 <br>
	<% else %>
		$<%= options.price%><br>
		<%total << options.price.to_f %>
	<%end%>
<%end%>
</i>
<br>
<strong>
Your Total: <%= number_to_currency(total.inject(:+)) %>
</strong>
<br><br>
</div>


<div class="review" style="
    position: absolute;
    top: 50%;
    left: 68%;
">
<h4>Please leave a review for <%=@order.name%>?</h4>

<%= form_tag("/menus/comment") do %>

Title:<br> <%= text_field_tag("title")%><br>
Review:<br><%= text_field_tag("comment")%><br><br>
<%=hidden_field_tag :merch_id,"#{@order.restaurant.merchant_id}"%>

<%= submit_tag "comment" %>

<% end%>
</div>


<img src="http://www.glamour.com/images/entertainment/2013/05/beyonce-baby-main.gif" style="
    width: 319px;
    position: absolute;
    top: 59%;
    left: 38%;
"/>