
<%= render 'menu' %>


<br>
<br>
<br>
<br>

<div class="review">  
  <div class="col-md-6">
	  <%@comment.comments.each do |comment|%>
		  <%if user = User.find_by_id(comment.user_id)%>
		  <%   user = User.find_by_id(comment.user_id)%>
		  	  Account: <%=user.name%> 
		  <%else%>
		  		<%=@guest%>
		  <%end%>
		  	<br>
		  	<%= comment.title %>
		  	<br>
		  	
		  	<%= comment.comment %>
		  <br>
		  <br>
		<%end%>
	</div>
</div>

<div id='cart' style="
    position: fixed;
    top: 12%;
    right: 1%;
    width: 187px;
    border-style: solid;
    border-width: 1px;
    padding-right: 1px;
">
	<h1><center>Cart</center></h1> <br> <br>

  <center><input id='submit' type="submit" value="Submit" class="btn btn-default" style="
    margin-bottom: 10px;
"></center>
  <br>
	
</div>



<script>
	$( document ).ready(function() {
		$('.items').hide();
		$('.groups').hide();
		$('.options').hide();
		$('#rest').hide();
		 var $mainCatCheckboxes = $('.main-cat').find('input[type="checkbox"]')
		 $mainCatCheckboxes.change(function (){ 
		 	var current_class_shared = '.' + $(this).parent().parent().parent()[0].classList[1]
		 	var items_for_class
		 	if ($(this).prop('checked')){
		 		$(current_class_shared).show()
		 	} else {
		 		$(current_class_shared).each(function(){
		 			if (this.classList[0] == 'items'){
		 				$(this).find('input[type="checkbox"]').removeAttr('checked');
		 				$(this).hide();
		 				// nested items also hide and uncheck
		 				if ($(this).children().is(':checked') == false){
						 		var current_item_class = '.'+this.classList[2]
					 			$(current_item_class).each(function(){
					 				if (this.classList[0] == 'groups'){
					 					$(this).find('input[type="checkbox"]').removeAttr('checked');
					 					$(this).hide()
					 				}
					 				if (this.classList[0] == 'groups'){
					 					var optionsToHide = this.classList[2]
					 					$('.'+optionsToHide).each(function(){
					 						$(this).hide();
					 						$(this).find('input[type="checkbox"]').removeAttr('checked');
					 					})
					 				}
					 		})
					 	}
		 			}
		 		})
		 	}

		 	// idea here is to refer to the items inside catagory
		 	$(current_class_shared).change(function(){

		 		if (this.classList[0] == 'items'){
		 			
		 			var current_item_class = '.'+this.classList[2]
		 			$(current_item_class).each(function(){
		 				if (this.classList[0] == 'groups'){
		 					$(this).show()
		 				}
		 			})
		 		}
		 		if (this.classList[0] == 'items'){
			 		if ($(this).children().is(':checked') == false){
				 		var current_item_class = '.'+this.classList[2]
			 			$(current_item_class).each(function(){
			 				if (this.classList[0] == 'groups'){
			 					$(this).find('input[type="checkbox"]').removeAttr('checked');
			 					$(this).hide()
			 				}
			 				if (this.classList[0] == 'groups'){
					 					var optionsToHide = this.classList[2]
					 					$('.'+optionsToHide).each(function(){
					 						$(this).hide();
					 						$(this).find('input[type="checkbox"]').removeAttr('checked');
					 					})
					 				}
			 			})
			 		}
			 	}
		 	});
		 	// idea here is to refer to groups and options
		 	$(current_class_shared).change(function(){
		 		if (this.classList[0] == 'items'){
		 			
		 			$("."+this.classList[2]).change(function(){
		 				if (this.classList[0] == 'groups' ){
		 					$('.'+this.classList[2]).show()
		 				}

		 				if (this.classList[0] == 'groups' ){
		 					if ($(this).find('input[type="checkbox"]').is(':checked') == false){
		 						var current_options_to_hide = this.classList[2]
		 						$('.'+current_options_to_hide).each(function(){
		 							if (this.classList[0] == 'options'){
		 								$(this).find('input[type="checkbox"]').removeAttr('checked');
		 								$(this).hide()
		 							}
		 						})
		 					}
		 				} 
		 			})		
		 		}
		 	})
		 })

// submit portion
	$('#submit').click(function(){

		var array = []
		$('[type="checkbox"]:checked').each(function(){
			

			var class_to_send = this.classList[0]
			var name_to_send = this.name
			

			array.push([class_to_send,name_to_send]);
		})
		array.push([$('.rest').attr('class'),$('.rest').text()])

		$.post("/order", { 
				'choices[]': array, 
				authenticity_token: $('meta[name=csrf-token]').attr('content') 
				}, function(html) {
	  		 		location.replace('/menus/order_confirm')
			});
	})

	// cart

	$('.catbox').change(function(){
		if (this.checked){
			var current = $(this).parent().parent().children().text().trim()
			$('#cart').append('<ol id="'+ current +'"> <strong>'+current+'</strong></ol>')
		} else {		
			var current = $(this).parent().parent().children().text().trim()
			$('[id="'+current+'"]').remove()
		}

	})

	$('.itembox').change(function(){
		if (this.checked){
			var parentClass = '.'+$(this).parent()[0].classList[1]
			// below is where this should be nested under
			var currentParent = $('.main-cat'+parentClass).children('center').children('strong').text().trim()
			var itemName = $(this).parent().children('strong').text()
			var itemPrice = $(this).parent().children('h5').text().trim()
			
			$('[id="'+currentParent+'"]').append('<li id="'+itemName+'">'+itemName+' '+itemPrice+'</li>')
			

		} else {
			var itemName = $(this).parent().children('strong').text()
			$('[id="'+itemName+'"]').remove()
		}
	})


	$('.groupbox').change(function(){
		if (this.checked){
			var currentItemClass = '.'+$(this).parent().parent().parent()[0].classList[1]
			var currentItem = $('.items'+currentItemClass)
			var itemToAppend = $(currentItem).children('strong').text()
			var groupName = $(this).parent('strong').text().trim()
			
			$('[id="'+itemToAppend+'"]').append('<ol id="'+groupName+'">'+groupName+'</ol>'   )
		} else {
			var groupName = $(this).parent('strong').text().trim()
			$('[id="'+groupName+'"]').remove()
		}
	})

	$('.optionbox').change(function(){
		if (this.checked){
			var currentGroupClass = '.'+$(this).parent()[0].classList[1]
			var currentGroup = '.groups'+currentGroupClass
			var groupToAppend = $(currentGroup).children('center').children('strong').text().trim()
			var optionName = $(this).parent().children('strong').text().trim()
			var optionPrice = $(this).parent().children('h5').text()	
			$('[id="'+groupToAppend+'"]').append('<li id="'+optionName+'">'+optionName+' '+optionPrice+'</li>')

		} else {
			var optionName = $(this).parent().children('strong').text().trim()
			$('[id="'+optionName+'"]').remove()

		}
	})

});
</script>