<center>
<img src="<%= @order.restaurant.logo %>" alt="logo">

<br>

<h1 style="margin-top: 0px; margin-bottom: 0px;">
<%= @order.name %>
</h1>

<hr>
  </center>

<div class="bo" style="width:58%;text-align:right;">
<strong>Please Enter Your Address:</strong>
 <%= form_tag('/menus/confirm', method: "post" ) do %>
      <%= label_tag(:address, "Address:") %>
      <%= text_field_tag(:address) %><br>
      <%= label_tag(:apt, "Apt:") %>
      <%= text_field_tag(:apt) %><br>
      <%= label_tag(:city, "City:") %>
      <%= text_field_tag(:city) %><br>
      <%= label_tag(:state, "State:") %>
      <%= text_field_tag(:state) %><br>
      <%= label_tag(:zipcode, "Zipcode:") %>
      <%= text_field_tag(:zipcode) %><br>
      <%= hidden_field_tag(:order_id, value = "#{@order.id}") %><br>
</div>
<center>
      <%= submit_tag("Order") %>
    <% end %>
</center>


<!--  -->

<div class="order" style="position: absolute;top: 37%;">
<% total = [] %>
<% cart = {} %>
<strong>
<% @order.items.each do |item| %>
  <%= item.name %> <%= number_to_currency(item.price)%> <br>
  <% total << item.price.to_f %>
<%end%>
</strong>

<i>
<% @order.groups.each do |groups| %>
  <%= groups.name %><br>
<%end%>


<% @order.options.each do |options| %>
  <%= options.name %>
  <% if options.price == "0" %>
    $0 <br>
  <% else %>
    <%= number_to_currency(options.price)%><br>
    <%total << options.price.to_f %>
  <%end%>
<%end%>
</i>
<br>
<strong>
Your Total: <%= number_to_currency(total.inject(:+)) %>
</strong>
<br><br>

</div>