<center>
<%if params["page"].nil?%>
	<h4>1 - 8 of <%=@results.name.length%> Restaurants delivering to</h4>
	<h4><strong><%= @results.search_address %></strong></h4>
	<br/>
<%else%>
	<h4><%=(params["page"].to_i * 4) + 1%> - <%=(params["page"].to_i * 8)%> of <%=@results.name.length%> Restaurants delivering to</h4>
	<h4><strong><%= @results.search_address %></strong></h4>
<%end%>

</center>
	<% @page.each do |e| %>
		<div class="restaurants" id="<%= e.merchant_id %>" >
			 <%= form_tag("../menus/index") do %>
			<ul class="flex-container2">
							
			  <li class="flex-item_rest">
				<img src="<%= e.logo %>" width="80px" style="
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
"/>
			  </li>
							
			  <li class="flex-item_rest" >
			  	<strong><%= e.name %></strong><br>
				<%= e.address %><br>
				<%= e.phone_number %><br>
			  </li>
							
			  <li class="flex-item_rest" style="line-height: 700%;text-align: center;">
				<img src="<%= e.rating_img %>"/><br>
			  </li>

			  <li class="flex-item_rest">
				<strong>Cuisine: </strong><br>
				<%= e.cuisine[1...-1] %><br>
			  </li>
							
			  <li class="flex-item_rest">
				<strong>Est. Delivery: </strong>
				<br><%= e.time_needed %><br>
			  </li>

			  <li class="flex-item_rest">
				Delivery Charge: $<%= e.delivery_charge %><br>
				Minimum Order: $<%= e.min_order %><br>
			  </li>
							
			  <li class="flex-item_rest" >
				<%= text_field_tag("#{e.merchant_id}")%>
				<%= submit_tag "Menu" %>
				<div class="okay" style="width: 15px;position: absolute;left: 92%;border-top-width: 10px;margin-top: 10px;">
					<div id="heart" style="margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;
"><div class="k"></div></div>

	<div id="<%=e.id%>"> </div>

				</div>
			  </li>

			 


		</ul>
	<% end %>
	<hr style="margin-top: 4px; margin-bottom: 4px;width: 93%;">
	</div>
	<% end %>

<center>
	<%=paginate @page%>
</center>

	<h4 style="position: absolute; top:27%;left:3%;">Filter by:</h4>
	<div class="show_hide">
		<h5>Show/Hide<h5>
	</div>
	<%= form_tag("/johda/filter") do %>
	<div class="cuisine">
		<% @cuisine.each_with_index do |e,i| %>
			<%= e %>  <input type="checkbox" name="cuisine <%=i%>" value="<%= e %>"><br>
		<% end %>
		<br/>
		<%= submit_tag "Filter" %>
	</div>
	<% end %>

<script>
	$( document ).ready(function() {
    	$("[type='text']").hide()
		    $(".show_hide").click(function(){
		    	$(".cuisine").toggle()
		    })
    $('.okay').click(function(){
    	
    	debugger
		var restId = parseInt($(this).children('div')[1].id)
		$.post("/johda/save_favs", { 
				favorite: restId, 
				authenticity_token: $('meta[name=csrf-token]').attr('content')
				});

		$(this).fadeOut()
	});
	})
</script>