<% provide(:title, @user.name) %>

<div id="nav", class="sidebar">
  <%= link_to "Profile", current_user %><br>  
  <%= link_to "Edit Profile", edit_user_path(current_user) %><br>  
  <%= link_to "Favorites", favorites_path %><br>
  <%= link_to "Log out", logout_path, method: "delete" %>
</div>

<div class="profile_name">
  <center>
    <h1> <%= @user.name %> </h1>
  </center>
</div>

<body>
  <div class="col-md-10 col-md-offset-3">
    <div id="favorites">
      <div class="col-sm-6">
        <h3>Favorites</h3>
        <% @user.favorite_restaurants.each do |rest| %>
          <br>
          <div class="favorite_img">
          <h5><%= rest.restaurant.name %></h5>
          <img src="<%= rest.restaurant.logo %>", alt="<%= rest.restaurant.logo %>">
          </div>
          <br>
        <%end%>
      </div>
    </div>
    
    <div class="order-history">
      <div class="col-sm-6">
        <h3>Order History</h3>
        <%@user.name%>  
        <% @user.orders.each do |order|%>
          <% if order.complete %>
            <%= order.name %>
            <% order.catagories.each do |cat| %>
              <%= cat.title %>
            <%end%>
            <br>
            <% order.items.each do |item| %>
              <%= item.name %>
            <%end%>
            <br>
            <% order.groups.each do |group| %>
              <%= group.name %>
            <%end%>
            <% order.options.each do |option| %>
              <%= option.name %>
            <%end%>
          <% else %>
            <br>
            <br>
            <h3>Orders not completed yet</h3>
            <br>
            <%= order.name %>
            <% order.catagories.each do |cat| %>
              <%= cat.title %>
            <%end%>
            <br>
            <% order.items.each do |item| %>
              <%= item.name %>
            <%end%>
            <br>
            <% order.groups.each do |group| %>
              <%= group.name %>
            <%end%>
            <% order.options.each do |option| %>
              <%= option.name %>
            <%end%>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</body>

