<% provide(:title, @user.name) %>

<div id="nav", class="sidebar" style="position:absolute;top:20%;"> 
  <%= link_to "Edit Profile", edit_user_path(current_user) %><br> 
  <%= link_to "Log out", logout_path, method: "delete" %>
</div>

<div class="profile_name">
  <center>
    <h1> <%= @user.name %> </h1>
  </center>
</div>

<body>
  <div class= "columns">
    <div class="col-sm-4 col-md-offset-2">
      <div class="favorites">
      <h3>Favorites</h3>


      <% @user.favorite_restaurants.each do |rest| %>
        <div style="
    height: 137px;
"> 
          <br>
            <h5 style="font-weight:bold;"><%= rest.restaurant.name %></h5>
            <img src="<%= rest.restaurant.logo %>" style="border-style:solid;border-width: 1px;border-radius:50%;">

            <br>
            <br>
            <div style="
    position: relative;
    bottom: 95px;
    left: 40%;
">
            <%= form_tag("../menus/index") do %>
            <%= text_field_tag("#{rest.restaurant.merchant_id}")%>
            <%= submit_tag "Menu" %>
            </div>
            <div class="remove" id="<%=rest.id%>" style="position: relative;top: -68%;left: 40%;">
            <div class="button">
            Remove
            </div>
            </div>
            <%end%>


            <br>
        </div>
      <%end%>
      


      </div>
    </div>
    <div class="col-sm-4 col-md-offset-2">
      <div class="complete_order_ history">
        <h3>Order History</h3>
        <%@user.name%> 


        <% ord = @user.orders.sort do |a,b| %>
       
          <% if a.submit_time == nil %>
            <% a.submit_time = 0%>
          <%end%>
          <% if b.submit_time == nil %>
            <% b.submit_time = 0%>
          <%end%>
          <% b.submit_time <=> a.submit_time %>
        <%end%>


        <% ord.each do |order|%>
          <% if order.complete %>
            <%= order.name %>
              <% order.catagories.each do |cat| %>
                <%= cat.title %>
              <%end%>
            <br>
              <img src="<%= order.restaurant.logo%>" style="border-style:solid;border-width: 1px;border-radius:50%;">
            <br>
              <% order.items.each do |item| %>
                <%= item.name %>
              <%end%>
            <br>
              <% order.groups.each do |group| %>
                <%= group.name %>
              <%end%>
              <% order.options.each do |option| %>
                <%= option.name %>
              <%end%>
              
              <%= form_tag('/menus/order_confirm', method: "post") do %>
              <%= text_field_tag(:reorder,"#{order.id}")  %>
              <%= submit_tag("Order") %>
              <% end %>
            <%end%>

            <br>


          <%end%>
          <br>
        </div>
        <br>
        <br>
        <br>
        <div class="incomplete_order_history">  
          <h4>Orders not completed yet</h4>
          

          <% @user.orders.each do |order|%>

            <% if order.complete == false %>
              <%= order.name %>
              <% order.catagories.each do |cat| %>
                <%= cat.title %>
              <%end%>
              <img src="<%= order.restaurant.logo%>">
              <br>
              <% order.items.each do |item| %>
                <%= item.name %>
              <%end%>
              <br>
              <% order.groups.each do |group| %>
                <%= group.name %>
              <%end%>
              <% order.options.each do |option| %>
                <%= option.name %>
              <%end%>

              <%= form_tag('/menus/order_confirm', method: "post") do %>
              <%= text_field_tag(:reorder,"#{order.id}")  %>
              <%= submit_tag("Order") %>
              <%end%>



            <%end%>

      



          <%end%>
      </div>
    </div>
  </div>
</body>

<script>

  $( document ).ready(function(){

    $('[type="text"]').hide()


    $('[name="reorder"]').hide()


    $('.remove').click(function(){
      
      var restId = this.id

      $.post("/johda/remove_favs", { 
        'rest': restId, 
        authenticity_token: $('meta[name=csrf-token]').attr('content') 
        });

      
      $(this).parent().fadeOut()
    })

  });
  

</script>

