<% provide(:title, @user.name) %>

<div id="nav">
  <%= link_to "Profile", current_user %><br>  
  <%= link_to "Edit Profile", edit_user_path(current_user) %><br>  
  <%= link_to "Favorites", favorites_path %><br>
  <class="divider"><br>  
  <%= link_to "Log out", logout_path, method: "delete" %>
  </class="divider">
</div>

<body>
<div id="header">
  <center>
    <h1> Hi, <%= @user.name %> </h1>
  </center>
</div>

<div class="favorites">
<% @user.favorite_restaurants.each do |rest| %>
<br>
  <img src="<%= rest.restaurant.logo %>">
  <%= rest.restaurant.name %> <div class="remove" id="<%=rest.id%>"> remove</div>
  <br>
<%end%>
</div>

<%@user.name%> Order History <br>
<% @user.orders.each do |order|%>
<% if order.complete %>
  <%= order.name %>
    <% order.catagories.each do |cat| %>
    <%= cat.title %>
    <%end%>
    <br>
    <% order.items.each do |item| %>
    <%= item.name %>
    <%end%>
    <br>
    <% order.groups.each do |group| %>
    <%= group.name %>
    <%end%>
    <% order.options.each do |option| %>
    <%= option.name %>
    <%end%>
<% else %>
<br>
<br>
Order not completed yet
<br>
  <%= order.name %>
    <% order.catagories.each do |cat| %>
    <%= cat.title %>
    <%end%>
    <br>
    <% order.items.each do |item| %>
    <%= item.name %>
    <%end%>
    <br>
    <% order.groups.each do |group| %>
    <%= group.name %>
    <%end%>
    <% order.options.each do |option| %>
    <%= option.name %>
    <%end%>
<%end%>






<%end%>
</body>

<script>

  $( document ).ready(function(){

    $('.remove').click(function(){
      
      var restId = this.id

      $.post("/johda/remove_favs", { 
        'rest': restId, 
        authenticity_token: $('meta[name=csrf-token]').attr('content') 
        });
    })

  });
  

</script>

