<% provide(:title, @user.name) %>

<div id="nav", class="sidebar"> 
  <%= link_to "Edit Profile", edit_user_path(current_user) %><br>  
  <%= link_to "Log out", logout_path, method: "delete" %>
</div>

<div class="profile_name">
  <center>
    <h1> <%= @user.name %> </h1>
  </center>
</div>

<body>
  <div class= "columns">
    <div class="col-sm-4 col-md-offset-2">
      <div class="favorites">
      <h3>Favorites</h3>
      <% @user.favorite_restaurants.each do |rest| %>
      <br>
        <h5><%= rest.restaurant.name %></h5>
        <img src="<%= rest.restaurant.logo %>">
        <div class="remove" id="<%=rest.id%>">
        Remove
        </div>
        <br>
      <%end%>
      </div>
    </div>
    <div class="col-sm-4 col-md-offset-2">
      <div class="complete_order_history">
        <h3>Order History</h3>
        <%@user.name%> 
        <% ord = @user.orders.sort {|a,b| b.submit_time <=> a.submit_time} %>
        <% ord.each do |order|%>
          <% if order.complete %>
              <h5><%= order.name %></h5>
              <img src="<%= order.restaurant.logo%>">
              <br>
              <% order.catagories.each do |cat| %>
                <%= cat.title %>
              <%end%>
            <br>
              <% order.items.each do |item| %>
                <%= item.name %>
              <%end%>
            <br>
              <% order.groups.each do |group| %>
                <%= group.name %>
              <%end%>
            <br>
              <% order.options.each do |option| %>
                <%= option.name %>
              <%end%>
              <br>
              Rate : <%= rating_for @user, "order", :star => 5, :enable_half => true, :half_show => true, :cancel => true %>
              <%= form_tag('/menus/order_confirm', method: "post") do %>
              <%= text_field_tag(:reorder,"#{order.id}")  %>
              <%= submit_tag("Order") %>
              <% end %>
            <%end%>
          <%end%>
        </div>
        <br>
        <br>
        <br>
        <div class="incomplete_order_history">  
          <h4>Orders not completed yet</h4>
          <% @user.orders.each do |order|%>
            <% if order.complete == false %>
              <%= order.name %>
              <% order.catagories.each do |cat| %>
                <%= cat.title %>
              <%end%>
              <img src="<%= order.restaurant.logo%>">
              <br>
              <% order.items.each do |item| %>
                <%= item.name %>
              <%end%>
              <br>
              <% order.groups.each do |group| %>
                <%= group.name %>
              <%end%>
              <% order.options.each do |option| %>
                <%= option.name %>
              <%end%>

              <%= form_tag('/menus/order_confirm', method: "post") do %>
              <%= text_field_tag(:reorder,"#{order.id}")  %>
              <%= submit_tag("Order") %>
              <%end%>
            <%end%>
          <%end%>
      </div>
    </div>
  </div>
</body>


  <script>
  $( document ).ready(function(){
    $('[name="reorder"]').hide()
    $('.remove').click(function(){
      var restId = this.id
      $.post("/johda/remove_favs", { 
        'rest': restId, 
        authenticity_token: $('meta[name=csrf-token]').attr('content') 
      });
    })
  });  
</script>

