<header class="navbar navbar-fixed-top navbar-inverse" style="height:97px;">
  <div class="container" style="97px">
    <a href="/"><img src="http://i.imgur.com/P878bvA.png" width="59px"></a>
    <nav>
      <ul class="nav navbar-nav navbar-right" style="position: relative; top: -75px; color:#CC6540">
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Favorites", current_user %></li>
              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>